/* 
This file contains the css styles used to power the preview of markdown files in vs code.
It is hosted on this github repo:https://github.com/akwanashie/doc-tools 
It can be accessed via the jsdelivr CDN (as github raw URL does not allow imports to iframes).

Follow the steps below to make changes:
- Raise a PR with the css changes
- Merge
- Check your changes by accessing the file using the commit sha. 
    - For example: https://cdn.jsdelivr.net/gh/akwanashie/doc-tools@80c295aa61e60c89fa1b6e155f80050fcc023bb2/markdown/style.css
- The main file may still be cached and not pick up the changes
    - For example: https://cdn.jsdelivr.net/gh/akwanashie/doc-tools/markdown/style.css
- Purge the jsdelivr cache by visiting https://www.jsdelivr.com/tools/purge and providing the URL: https://cdn.jsdelivr.net/gh/akwanashie/doc-tools/markdown/style.css
- Configure your vscode markdown plugin to point to the css file (add a random number to force vscode to refresh the file)
    { "markdown.styles": [ "https://cdn.jsdelivr.net/gh/akwanashie/doc-tools/markdown/style.css?v=2332323" ] }
*/

li {
    line-height: 35px;
    height: auto;
}

.contains-task-list li {
    margin-left: 24px !important;
}

.contains-task-list .contains-task-list {
    padding-left: 50px;
} 

.contains-task-list .task-list-item {
    list-style: none;
    margin-left: 0px !important;
}

.task-list-item-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 10px !important;
}

.task-list-item label {
    /* color: blue !important; */
    display: flex !important;
    align-items: center !important;
}

.task-list-item label a {
    padding-right: 5px;
    padding-left: 5px;
}

now::before {
    content: "Task: In progress";
}

remember::before {
    content: "remember";
}

blocked::before {
    content: "blocked";
}

b::before {
    content: "Blocked: ";
}

next::before {
    content: "To-do: next";
}

x::before {
    content: "Status: ";
}

y::before {
    content: "Task: ";
}

z::before {
    content: "";
}

others::before {
    content: "third-party";
}

remember, blocked, b, now, next, others, x, y, z {
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 7px;
    color:white;
    background-color: #326da8;
    border: 1px solid #1e4a2f;
    display: inline-block;
    line-height: 20px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 12px;
    font-weight:bold;
}

x {
    background-color: #5419dd;
    border: 1px solid rgb(233, 247, 38);
}

y {
    background-color: #ddaf19;
    color: black;
    border: 1px solid white;
}

z {
    background-color: #59b37b;
    color: black;
    border: 1px solid white;
}

blocked {
    background-color: #f54263;
    color: black;
}

b {
    background-color: #f54263;
}

now {
    background-color: #59b37b;
}

next {
    background-color: #34c6eb;
    color: black;
    font-weight: bold;
    border: 1px solid rgb(43, 223, 73);
}
